{% extends "myapp/base.html" %} 

{% block myheader %}
<h1>Contact US</h1>
{% endblock myheader %} 
{% block content %}
{% if message %}
    <h3>{{ message }}</h3>
{% else %}
<form method="POST" action="">
  {% csrf_token %}
  <div class="form-group">
    <label for="topic">Topic:</label>
    <input type="text" class="form-control" id="topic" name="topic" />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" />
  </div>
  <div class="form-group">
    <label for="detail">Detail:</label>
    <textarea
      class="form-control"
      rows="5"
      id="detail"
      name="detail"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock content %}
