{% extends "myapp/base.html" %}
{% load static %}

{% block myheader %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/myCss.css' %}">

    <!-- Shop Title -->
    <h1 style="text-align: center;">CoC Gaming Shop</h1>

    <!-- Discount Message Below the Title -->
    {% if user.is_authenticated %}
        {% if user.profile.usertype == 'VVIP' %}
            <p style="text-align: center; color: #ff6600; font-weight: bold;">
                15% Discount for VVIP member
            </p>
        {% elif user.profile.usertype == 'VIP' %}
            <p style="text-align: center; color: #0099ff; font-weight: bold;">
                10% Discount for VIP member
            </p>
        {% elif user.profile.usertype == 'Member' %}
            <p style="text-align: center; color: #33cc33; font-weight: bold;">
                5% Discount for member
            </p>
        {% endif %}
    {% endif %}
{% endblock myheader %}

{% block content %}
    <center>
        {% for row in allrow %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for c in row %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    {% if c.picture %}
                    <img src="{{ c.picture.url }}" class="card-img-top" width="200" height="300">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ c.title }}</h5>
                        <p class="card-text">{{ c.price }} ฿</p>
                        <a href="#" class="btn btn-primary">more detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </center>
    <hr>
    <ul class="pagination">
            
            {% if allproduct.has_previous and allproduct.has_next != True %}
                <li class="page-item"><a class="page-link" href="?page={{allproduct.previous_page_number}}"> < </a></li>
                <li class="page-item"><a class="page-link" href="?page={{allproduct.number|add:-1}}">{{allproduct.number|add:-1}}</a></li>
                <li class="page-item active"><a class="page-link" href="?page={{allproduct.number}}">{{allproduct.number}}</a></li>
            {% endif %}

            {% if allproduct.has_previous and allproduct.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{allproduct.previous_page_number}}"> < </a></li>
                <li class="page-item"><a class="page-link" href="?page={{allproduct.number|add:-1}}">{{allproduct.number|add:-1}}</a></li>
                <li class="page-item active"><a class="page-link" href="?page={{allproduct.number}}">{{allproduct.number}}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{allproduct.number|add:1}}">{{allproduct.number|add:1}}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{allproduct.next_page_number}}"> > </a></li>
            {% endif %}

            {% if allproduct.has_next and allproduct.has_previous != True %}
                <li class="page-item active"><a class="page-link" href="?page={{allproduct.number}}">{{allproduct.number}}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{allproduct.number|add:1}}">{{allproduct.number|add:1}}</a></li>
                {% if allproduct.num_pages > 2 %}
                <li class="page-item"><a class="page-link" href="?page={{allproduct.number|add:2}}">{{allproduct.number|add:2}}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{allproduct.next_page_number}}"> > </a></li>
            {% endif %} 
            
            
    </ul> <p> page {{allproduct.number}} from {{allproduct.paginator.num_pages}} <p></p>
{% endblock content %}